.Hero {
  text-align: center;
  background-color: darkgray;
  height: 100px;
  padding: 0.5rem;
}

.Sign-Up {
  text-align: center;
  margin: 1rem;
}

.Sign-Up__form {
  display: grid;
  grid-template-columns: max-content max-content;
  justify-content: center;
  gap: 1rem 1.25rem;
}

.Sign-Up__form > label {
  width: 100%;
  text-align: right;
  padding: 0.25rem;
}

.Sign-Up__form > input {
  padding: 0.25rem;
}
