.MessagesChat__form {
  display: grid;
  grid-template-columns: max-content;
  justify-content: center;
  gap: 0.25rem;
}

.MessagesChat__form > label {
  width: 100%;
  text-align: left;
  padding: 0.25rem;
}

.MessagesChat__form > button {
  margin-top: 1rem;
}

.MessagesChat__list {
  list-style-type: none;
  padding: 0;
  margin-left: 1rem;
  margin-right: 1rem;
}

.MessagesChat__list li {
  border: 0.4px solid black;
  border-radius: 4px;
  background: white;
  box-shadow: 2px 3px 0px 0px lightgray;
  padding: 1rem;
  margin-bottom: 0.5rem;
}

.MessagesChat__list p.displayName {
  font-weight: 700;
  margin: 0;
}
