.Info {
  height: 300px;
  max-width: 80%;
  text-align: center;
  padding: 0.5rem;
  margin-left: auto;
  margin-right: auto;
}

.Info__demo {
  line-height: 2rem;
}

.Info__demo span {
  font-weight: 700;
}
