.Message {
  text-align: center;
  margin: 1rem;
}

.Message > h2 {
  text-align: left;
}

.Message__form {
  display: grid;
  grid-template-columns: fit-content;
  justify-content: center;
  gap: 1rem 1.25rem;
}

.Message__form > label {
  width: 100%;
  text-align: left;
  padding: 0.25rem;
}

.Message__form > input[type='submit'],
button {
  grid-column: -1 / 1;
}
