.Results-Personal {
  padding: 1rem;
}

.Results-Personal > h3 {
  text-align: center;
}

.Results-Personal__list {
  list-style-type: none;
  padding: 0;
}

@media screen and (min-width: 800px) {
  .Results-Personal > h2 {
    text-align: center;
  }

  .Results-Personal__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  .Results-Personal__list li {
    margin: 0;
    justify-self: center;
  }
}
@media screen and (min-width: 1200px) {
  .Results-Personal__list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
