@keyframes spin {
  0% {
    transform: rotate(0deg);
    border-color: transparent #94b2db transparent #4799e6;
  }
  50% {
    transform: rotate(180deg);
    border-color: #4799e6 transparent #94b2db transparent;
  }
  100% {
    transform: rotate(360deg);
    border-color: transparent #94b2db transparent #4799e6;
  }
}

.button-spinner {
  margin-left: auto;
  margin-right: auto;
  border: 8px solid #13315c;
  border-color: #4799e6 transparent #94b2db transparent;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  animation: 2s spin linear infinite;
}
