.Post {
  text-align: center;
  margin: 1rem;
}

.Post__form {
  background-color: white;
  border: 0.4px solid black;
  border-radius: 4px;
  box-shadow: 2px 3px 0px 0px lightgray;
  display: grid;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
}

@media screen and (min-width: 800px) {
  .Post__form {
    grid-template-columns: 10rem 1fr;
    gap: 2rem;
    padding: 2rem;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
  }

  label.Label {
    text-align: center;
  }

  button.Button {
    width: 50%;
    justify-self: center;
  }
}
