.Post {
  text-align: center;
  margin: 1rem;
}

.Post__form {
  background-color: white;
  border: 0.4px solid black;
  border-radius: 4px;
  box-shadow: 2px 3px 0px 0px lightgray;
  display: grid;
  grid-template-columns: fit-content;
  justify-content: center;
  gap: 0.25rem;
  padding: 1rem;
}
