.Search {
  text-align: center;
  margin: 1rem;
}

.Search__form {
  display: grid;
  grid-template-columns: fit-content;
  justify-content: center;
  gap: 0.25rem;
}

.Search__form > button[type='submit'],
button {
  margin-top: 1rem;
}

.Results {
  padding: 1rem;
}

.Results > h3 {
  text-align: center;
}

.Results__list {
  list-style-type: none;
  padding: 0;
}

.no-results,
.alert {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 700;
}

@media screen and (min-width: 800px) {
  .Search__form label.Label {
    text-align: left;
  }

  .Results__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  .Results__list li {
    margin: 0;
    justify-self: center;
  }
}
@media screen and (min-width: 1200px) {
  .Results__list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
