.Messages h2 {
  padding: 1rem;
  margin-bottom: 0;
}

.Messages__list {
  list-style-type: none;
  padding: 0;
  margin-left: 1rem;
  margin-right: 1rem;
}

.Messages__list li {
  border: 0.4px solid black;
  border-radius: 4px;
  background: white;
  box-shadow: 2px 3px 0px 0px lightgray;
  padding: 1rem;
  margin-bottom: 0.5rem;
}

.Messages__list p.displayName {
  font-weight: 700;
  margin: 0;
}

@media screen and (min-width: 800px) {
  .Messages h2 {
    text-align: center;
  }

  .Messages__list {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}
