.Button {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  border-radius: 4px;
  margin: 0;
  text-decoration: none;
  background: #13315c;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

form > .Button {
  margin-top: 2rem;
}

.Button:hover,
.Button:focus {
  background: #0053ba;
}

.Button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

.Buton:active {
  transform: scale(0.99);
}

.Button.delete {
  background-color: darkred;
}

.Button.delete:hover,
.Button.delete:focus {
  background: red;
}

.Textarea {
  border: 0.4px solid black;
  border-radius: 4px;
  box-shadow: 2px 3px 0px 0px lightgray;
  padding: 0.75rem;
  resize: none;
  height: 150px;
  font-size: 1.1rem;
}

.Input,
.Select {
  padding: 0.75rem;
  border: 0.4px solid black;
  border-radius: 4px;
  box-shadow: 2px 3px 0px 0px lightgray;
  font-size: 1.1rem;
}

.Select {
  background-color: white;
  font-size: 1.1rem;
}

.Label {
  width: 100%;
  text-align: left;
  padding: 0.25rem;
}

.Textarea,
.Input,
.Select {
  width: 80vw;
}

.Alert {
  font-weight: 700;
  color: darkred;
  width: 80vw;
  margin-left: 0;
  margin-right: auto;
  margin-top: 1rem;
  padding: 1rem;
  background-color: white;
  border: 0.4px solid black;
  border-radius: 4px;
  box-shadow: 2px 3px 0px 0px lightgray;
}

@media screen and (min-width: 800px) {
  .Textarea,
  .Input,
  .Select {
    width: 100%;
  }

  .Alert {
    padding: 1.25rem;
    width: 100%;
    font-size: 1.1rem;
  }
}
